/* DetailProfile */
.IdealProfileForm {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 720px;
  z-index: 100;
}

/* Input Text(입력란) */
.IdealProfileInputs {
  width: 300px;
  height: inherit;
  margin-top: 10px;
}

.bodyType,
.address,
.department,
.character1,
.character2,
.mbti,
.drink,
.smoke,
.firstPriority,
.secondPriority,
.thirdPriority {
  margin-top: 20px;
}

/* message */
.message {
  display: flex;
  margin-top: 3px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.gd {
  width: 150px;
}

/* footer Button */
.nextButton {
  margin-top: 20px;
  text-align: center;
}

.footerButton {
  width: 132px;
  height: 50px;
  color: #ffffff;
  border-radius: 0.33rem;
  background-color: palevioletred;
  border: none;
  font-weight: bold;
  letter-spacing: 4px;
  cursor: pointer;
}
