.MyProfilePage {
  margin-top: 300px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

/* flex-direction:column이 기본설정 */
.MyProfileForm {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 620px;
}

/* Input Text(입력란) */
.MyProfileInputs {
  width: 300px;
  height: inherit;
  margin-top: 10px;
}

.MyProfileInputs > input {
  margin-top: 20px;
}

/* message */
.message {
  display: flex;
  margin-top: 3px;
}

.success {
  color: green;
}

.error {
  color: red;
}

/* gender - Button */
.genderContainer {
  margin-top: 20px;
}
.marginBetween {
  display: inline-block;
  width: 20px;
}

#man {
  width: 30px;
  height: 15px;
}

#woman {
  width: 30px;
  height: 15px;
}

/* dropdown */
/* select 화살표 없애기 */
.ageDropDown {
  margin-top: 15px;
  position: relative;
  width: 150px;
  height: 35px;
  border: none;
}

.selectAge {
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /* for firefox */
  appearance: none;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border-radius: 4px;
  border: 2px solid lightcoral;
  background: url("../../../Img/dropdown.png") no-repeat 95% 50%/15px auto;
  font-size: 16px;
}

.selectAge:focus {
  outline: none;
  border-color: purple;
}

.selectAge::-ms-expand {
  display: none; /* for IE10, 11 */
}

.selectAge > option {
  font-size: 16px;
  font-weight: 400;
}

/* kakaoID */
.kakaoIDMsg {
  display: flex;
  margin-top: 3px;
  color: violet;
  white-space: pre-wrap;
}

/* footer Button */
.nextButton {
  text-align: center;
  margin-top: 20px;
}

.footerButton {
  width: 132px;
  height: 50px;
  color: #ffffff;
  border-radius: 0.33rem;
  background-color: palevioletred;
  border: none;
  font-weight: bold;
  letter-spacing: 4px;
  cursor: pointer;
}

/* 성별 버튼 */
.genBtn {
  background-image: none;
}

.genBtnChecked {
}
