/* flex-direction:column이 기본설정 */
.MyProfileForm {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

/* Input Text(입력란) */
.Inputs {
  width: 300px;
  height: 100vh;
  margin-top: 10px;
}

.Inputs > input {
  margin-top: 20px;
}

/* message */
.message {
  display: flex;
  margin-top: 3px;
}

.success {
  color: green;
}

.error {
  color: red;
}

/* RadioButton */
.RadioButtonGroup {
  margin-top: 20px;
}

.RadioButtonGroup > label {
  margin-right: 10px;
}

/* gender */
.genderCheck1 {
  background: url('../../../Img/radiobutton.png') no-repeat 97% 50%/15px auto;
}

#man {
  width: 30px;
  height: 15px;
}

#woman {
  width: 30px;
  height: 15px;
}

/* dropdown */
/* select 화살표 없애기 */
.ageDropDown {
  margin-top: 15px;
  position: relative;
  width: 150px;
  height: 35px;
  border: none;
}

.selectAge {
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /* for firefox */
  appearance: none;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border-radius: 4px;
  border: 2px solid lightcoral;
  background: url('../../../Img/dropdown.png') no-repeat 95% 50%/15px auto;
  font-size: 16px;
}

.selectAge:focus {
  border-radius: 4px;
  border: 2px solid lightcoral;
  outline: none;
}

.selectAge::-ms-expand {
  display: none; /* for IE10, 11 */
}

.selectAge > option {
  font-size: 16px;
}

/* kakaoID */
.kakaoIDMsg {
  display: flex;
  margin-top: 3px;
  color: violet;
  white-space: pre-wrap;
}

/* Next Button */
.nextButton {
  text-align: center;
}

.footerButton {
  display: inline-block;
  width: 120px;
  height: 50px;
  margin-top: 20px;
  color: #ffffff;
  border-radius: 0.33rem;
  background-color: palevioletred;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
}
