.SignUpPage {
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 1000px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
}

.pageButton {
  margin: 0 auto;
  width: 300px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nextButton,
.prevButton {
  text-align: center;
}

.footerButton {
  width: 132px;
  height: 50px;
  color: #ffffff;
  border-radius: 0.33rem;
  background-color: palevioletred;
  border: none;
  font-weight: bold;
  letter-spacing: 4px;
}
