/* .superContainer {
  min-width: 900px;
  height: 1500px;
  margin: auto;
  position: relative;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 200px;
  margin-left: 150px;
  margin-right: 150px;
} */
