.superContainer {
  min-width: 700px;
  height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wrapper {
  height: auto;
  min-height: 100%;
  padding-bottom: 220px;
}

/* 자주 쓰는 tag css 작성 */
input {
  background-color: #eee;
  border: 0.4px solid #eee;
  padding: 12px 15px;
  width: 300px;
  border-radius: 0.3rem;
}

input:hover {
  border-color: palevioletred;
}

input:focus {
  border-color: palevioletred;
  outline: none;
}

input[type='radio'] {
  display: none;
}
