/* 같은 파일 내에 폰트나 이미지가 존재해야된다 */
/* 하나 문제가 있음 -> git에서 새롭게 다운 받으면 폰트나 이미지 모듈이 받아지지 않음 */
/* Module not found: error : Can't resolve */
@font-face {
  font-family: "introFont";
  src: url("../../../fonts/SingleDay-Regular.ttf");
}

@font-face {
  font-family: "bodyFont5";
  src: url("../../../fonts/강원교육현옥샘.ttf");
}

@font-face {
  font-family: "explainFont";
  src: url("../../../fonts/GmarketSansTTFBold.ttf");
}

.intro {
  font-family: "introFont";
  font-size: 32px;
  font-weight: 600;
}

.backImg {
  width: 700px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../Img/연인5.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.inform {
  margin-top: 60px;
}

.inform > div {
  font-family: "bodyFont5";
  margin-top: 5px;
  font-size: 42px;
  font-weight: 600;
}

/* 팀원 소개 */
.explain {
  border: 2px solid black;
  margin-top: 80px;
}

.introDeveloper {
  display: flex;
  margin: auto;
  margin-top: 10px;
  justify-content: center;
  font-size: 24px;
  font-family: "explainFont";
  font-weight: 600;
}

.explainTeam {
  display: flex;
  height: 300px;
}

.explainWho {
  margin-top: 12px;
}

.explainWho > div {
  font-family: "explainFont";
  margin-top: 8px;
  font-size: 24px;
  font-weight: 600;
}

.front,
.backend1,
.backend2 {
  margin: auto;
}

/* 이미지 */
.iconImg1,
.iconImg2,
.iconImg3 {
  width: 156px;
  height: 156px;
  display: flex;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.iconImg1 {
  background-image: url(../../../Img/프론트\(남\)128px.png);
}
.iconImg2 {
  background-image: url(../../../Img/백엔드\(여\)128px.png);
}
.iconImg3 {
  background-image: url(../../../Img/백엔드\(남\)128px.png);
}
