.checkboxContainer {
  width: 150px;
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: 16px;
  margin: 5px;
}

.checkbox {
  width: 10%;
  display: flex;
  appearance: none;
}

.checkbox_text {
  display: flex;
  background-color: #d2d2d2;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  padding: 7px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.checkbox_text:hover {
  background-color: #ff9a31;
  color: #ffffff;
}

.checkbox input:checked + .checkbox_text {
  color: #ffffff;
  background-color: #ffa230;
}
