.hobbyDataForm {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.buttonContainer {
  margin: 0 auto;
  white-space: normal;
  position: relative;
}

.btn {
  width: 120px;
  color: gray;
  font-size: 15px;
  background-color: #f8f8f8;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btnclicked {
  width: 100px;
  font-size: 15px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: aqua;
  background-color: red;
}
