.navbar {
  background-color: white;
  height: 60px;
  align-items: center;
  top: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid pink;
  padding: 10px 0px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  padding: 0 15px;
}

.menu {
  position: relative;
}

.menu li:hover {
  display: block;
}

.navbar-element {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
nav > div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

nav > span {
  align-items: left;
  padding: 200;
  margin: 20;
}
